<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Mohamed Farouk Mohamed</h1>
		<span class="pull-right text-muted small" style="margin-top:-30px;"><em>Version 8.4h - Updated: 04/04/2020</em></span>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row" style="margin-bottom:7px;">
	<div class="col-lg-12">
		<div class="pull-right"><a href="http://mfmnow.github.io/mfmnowcv2/pages/MFM.Resume.8.4.doc" target="_blank"
				type="button" class="btn btn-outline btn-primary btn-xs"><span class="fas fa-file-word-o"></span> View
				Classic Resume View in Microsoft Word format</a></div>
	</div>
</div>
<div class="row" style="margin-bottom: 7px;">
	<div style="margin-left:auto;margin-right:auto;">
		<div class="col-lg-2 col-md-6" style="width:342px;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<b>Basic Info</b>
						</div>
					</div>
				</div>

				<div class="panel-footer" style="padding-top: 5px;">
					<div style="margin:4px;margin-top: 0px;"><i class="fa fa-envelope"></i>&nbsp;mfmnow@yahoo.com
					</div>
					<div style="margin:4px;"><i class="fas fa-mobile-alt"></i>&nbsp;+1 647 613 1540</div>
					<div style="margin:4px;"><i class="fas fa-home"></i>&nbsp;Toronto, ON</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6" style="width:342px;">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
              <i class="fas fa-share-square fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<b>Social Profiles</b>
						</div>
					</div>
				</div>

				<div class="panel-footer" style="padding-top: 5px;">
					<div style="margin:4px;margin-top: 0px;"><i class="fab fa-linkedin"></i>&nbsp;<a
							href="http://www.linkedin.com/in/mfmnow"
							target="_blank">http://www.linkedin.com/in/mfmnow</a></div>
					<div style="margin:4px;"><i class="fab fa-stack-overflow"></i> &nbsp;<a
							href="https://stackoverflow.com/u/5135107/"
							target="_blank">https://stackoverflow.com/u/5135107</a></div>
					<div style="margin:4px;"><i class="fab fa-github"></i>&nbsp;<a
							href="https://github.com/mfmnow?tab=repositories"
							target="_blank">https://github.com/mfmnow</a></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-6" style="width:342px;">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-check fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<b>Residency Status</b>
						</div>
					</div>
				</div>
				<div class="panel-footer" style="padding-top: 5px;">
					<div style="margin:4px;margin-top: 0px;"><span class="fa fa-location-arrow"></span> Canadian
						Permanent Resident (Skilled Immigrant Nominated by Ontario)</div>
					<div style="margin:4px;"><span class="fa fa-location-arrow"></span> Australian Citizen</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 5px;">
	<div class="col-md-12 mb-4" style="margin-bottom: 2px;">
		<div id="wrap">
			<div class="panel panel-red panel-horizontal">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-bullseye fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<b>Objective</b>
						</div>
					</div>
				</div>
				<div class="panel-footer">A challenging opportunity in a growing environment where my experiences in
					software development and management are fully utilized and being beneficial to the organization.
				</div>
			</div>
		</div>
	</div>
</div>